Ignore common development files

.git
.gitignore
*.o
*.a
*.so
*.swp
*.bak
*.env
build/
.vcpkg/
.vscode/
*.log
*.out
*.zip
*.tar
*.gz
node_modules/
.git/

Ignore any local binaries
# Ignore big folders/files that shouldn’t be copied into the image
.vscode/
build/
.vcpkg/
*.log
*.out
*.zip
*.tar
*.gz
node_modules/
.git/
cmake-build-debug/
cmake-build-release/
__pycache__/
*.o
*.obj
*.so
*.dylib


url_shortener
/build


# Ignore unnecessary files
.vscode/
build/
.vcpkg/
.git/
*.log
*.out
*.zip
*.tar
*.gz
*.dylib
*.o
*.obj
*.DS_Store
